body{
    margin-top: 100px;
    background-color: rgb(84, 79, 97);
    color: rgb(34, 34, 34);
    

}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calcWrapper{
    max-width: 600px;
    min-width: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "display display display display"
    "back back clear clear"
    "seven eight nine divide"
    "four five six multiply"
    "one two three minus"
    "zero point equals plus"

    
}
.display{
    background-color: rgb(185, 185, 185);
    grid-area: display;
    font-size: 4rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: .5rem;
    height: 6rem;
    border: 3px solid rgb(31, 31, 31);
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-radius: 3px;
    
}



.seven{ 
    grid-area: seven;
}

.eight{
    grid-area: eight;
}

.nine{
    grid-area: nine;
}

.divide{
    grid-area: divide;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.multiply{
    grid-area: multiply;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.minus{
    grid-area: minus;
}

.zero{
    grid-area: zero;
}



.plus{
    grid-area: plus;
}

.buttons{
    color: rgb(34, 34, 34);
    background-color: rgb(185, 185, 185);
    height: 6rem;
    border-radius: 3px;
    border-right: 3px solid rgb(31, 31, 31);
    border-bottom: 3px solid rgb(31, 31, 31);
    border-top: 3px solid white;
    border-left: 3px solid white;
    font-weight: bolder;
    font-size: 3rem;
}

.operator{
    background-color: rgb(197, 139, 91);

}

.equals{
    grid-area: equals;
    background-color: rgb(197, 139, 91);
}

.point{
    grid-area: point;
    background-color: rgb(121, 121, 121);
}

.back{
    grid-area: back;
    background-color: rgb(134, 133, 197);
}

.clear{
    grid-area: clear;
    background-color:  rgb(134, 133, 197);
}

@media screen and (max-width: 420px) {

    .calcWrapper{
        max-width: 300px;
        min-width: 300px;        
    }
    body{
        margin-top: 20%;
        margin-bottom: 0px;
    }

    .buttons{
        height: 4rem;
        font-size: 2rem;
    }

    .display{
        height: 4rem;
        font-size: 2rem;
      
    }


    
  }

  @media screen and (max-height: 415px) {
    .calcWrapper{
        max-width: 550px;
        min-width: 550px;
        
    }

   
    body{
        margin-top:5%;
        margin-bottom: 0px;

    }
    .buttons{
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .display{
        height: 3rem;
        font-size: 1.5rem;     
    }


    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
  }